---

---

<div class="wrapper">
  <div class="footer">
    <span> &copy; 2024 Edmund W </span>
    &nbsp;·&nbsp;
    <a
      style="padding-left: 0.5rem; padding-right: 0.5rem;"
      href="http://twitter.com/__wevs"
      target="_blank"
      rel="noopener noreferrer">X</a
    >
    &nbsp;·&nbsp;
    <a href="mailto:dopewevmond@gmail.com"> E-mail </a>
    &nbsp;·&nbsp;
    <a
      href="http://github.com/dopewevmond"
      target="_blank"
      rel="noopener noreferrer">GitHub</a
    >
  </div>
</div>
