@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --blueblack: #0B0D17;
    --paleblue: #D0D6F9;
    --csgrey: #a8a7a7;
    --navbarHeight: 80px;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
* {
    box-sizing: border-box;
}
.font-bf {
    font-family: 'Bellefair', Arial, Helvetica, sans-serif;
}
.font-bc {
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
}
.font-b {
    font-family: 'Barlow', Arial, Helvetica, sans-serif;    
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-0 {
    margin-top: 0;
}
.pad-bottom {
    padding-bottom: 25px;
}
.text-center-sm-md {
    text-align: center;
}
.text-center-sm {
    text-align: center;
}
.ls-27 {
    letter-spacing: 2.7px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-24 {
    font-size: 24px;
}
.f-80 {
    font-size: 80px;
}
.lh-25 {
    line-height: 25px;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--blueblack);
    color: white;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.container-md {
    margin: 0 auto;
}
.navbar {
    display: flex;
    flex-flow: column wrap;
}
.nav-toggler {
    position: absolute;
    top: 35px;
    right: 35px;
}
.logo {
    height: var(--navbarHeight);
}
.logo > img {
    padding-top: 20px;
    padding-left: 20px;
}
.nav__items {
    position: fixed;
    top:  var(--navbarHeight);
    right: 0;
    width: 0;
    margin-left: auto;
    min-height: calc(100vh - var(--navbarHeight));
    background-color: #2f344c42;
    backdrop-filter: blur(10px);
    transition: width 0.1s linear;
}
.nav-open{
    width: 75vw;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-links a {
    text-decoration: none;
    height: 100%;
    color: white;
    letter-spacing: 2.7px;
}
.nav-links li {
    text-align: left;
    padding: 35px 0 0 30px;
    white-space: nowrap;
}
.nums {
    letter-spacing: normal;
    color: var(--csgrey);
    margin-right: 15px;
}
.color-grey {
    color: var(--csgrey);
}
.border-grey {
    border-color: var(--csgrey);
}
.nav-links a.active {
    border-bottom: 1.5px solid white;
    padding-bottom: 10px;
}
.paragraph {
    color: var(--paleblue);
    letter-spacing: 1.5px;
    font-size: 15px;
}
.position-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.z-1 {
    z-index: 1;
}
.color-paleblue {
    color: var(--paleblue);
}

@media only screen and (min-width: 768px) {
    .container, .container-md {
        width: 85%;
    }
    .text-center-sm {
        text-align: left;
    }
    .logo {
        height: auto;
    }
    .logo > img {
        padding-left: 0px;
        padding-top: 15px;
    }
    .nav-toggler {
        display: none;
    }
    .navbar {
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 15px;
    }
    .nav__items {
        position: static;
        width: 60vw;
        display: flex;
        margin: 0px;
        min-height: 0;
    }
    .nav__items > * {
        flex-grow: 1;
    }
    .nav-links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-self: center;
    }
    .nav-links li {
        padding: 0;
    }
    .nav-links a:hover {
        border-bottom: 0.5px solid var(--csgrey);
        padding-bottom: 22px;
    }
    .nav-links a.active {
        padding-bottom: 22px;
    }
    .f-16 {
        font-size: 20px;
    }
    .f-18 {
        font-size: 24px;
    }
    .f-24 {
        font-size: 40px;
    }
    .f-80 {
        font-size: 150px;
    }
    .hide-md {
        display: none;
    }
    .paragraph {
        width: 70%;
        margin: 0 auto;
        height: 4.5rem;
    }    
}

@media only screen and (min-width: 1024px) {
    .position-img {
        position: static;
    }
    .text-center-sm-md {
        text-align: left;
    }
    .horiz-line-lg {
        width: 20vw;
        border-bottom: 0.5px solid var(--csgrey);
        position: absolute;
        top: 50px;
        left: 15%;
        z-index: 2;
    }
    .page-heading {
        padding-left: 9%;
        margin-top: 60px;
    }
    .paragraph {
        width: auto;
        height: auto;
    }
    .f-16 {
        font-size: 28px;
    }
    .f-45-lg {
        font-size: 45px;
    }
}
